@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
}

.container {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header button {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 0.5rem 1.7rem;
  cursor: pointer;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.add-book-section {
  display: flex;
  position: relative;
  align-items: center;
  margin: 2rem 0;
}

.add-book-section h3 {
  margin-right: auto;
  margin-left: 3rem;
}

.add-book-section .open-modal-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.open-modal-btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.open-modal-btn:hover {
  text-decoration: none;
  transition: 0.1s ease;
  font-size: 2.3rem;
}

.book-container {
  display: grid;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  gap: 1rem;
  background-color: lightgray;
  border-radius: 6px;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.read-button,
.remove-button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  width: 50%;
  align-self: center;
}

.read-button {
  background: lightgreen;
}

.remove-button {
  background: crimson;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
}

input::placeholder {
  color: gray;
}

.modal.show {
  pointer-events: all;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#modal-title {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  line-height: 2rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.book-form .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.submit-btn {
  border: none;
  background-color: lightgreen;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-btn {
  border: none;
  background-color: crimson;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.read-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
